<div class="container">
  <div style="margin-bottom: 50px; padding: 10px">
    <form #postForm="ngForm" (ngSubmit)="searchStock(postForm.value)">
      <div class="row">
        <div class="col-sm-8">
          <div class="d-flex p-2">
            Enter the symbol of a stock to track (i.e. - AAPL, TSLA, GOOGL)
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-sm-4">
          <input
            type="text"
            ngModel
            class="form-control"
            id="stockInput"
            name="stockInput"
            required
            minlength="1"
            maxlength="5"
          />
        </div>
        <div class="col-sm-4">
          <button
            class="btn btn-primary"
            type="submit"
            id="trackBtn"
            [disabled]="!postForm.valid"
          >
            Track Stock
          </button>
        </div>
      </div>
    </form>
  </div>

  <div style="margin-bottom: 50px; padding: 10px">
    <div
      class="card"
      style="width: 65rem; margin-bottom: 20px;"
      *ngFor="let stock of loadedStocks"
    >
      <div class="card-body">
        <button
          type="button"
          class="btn-close float-end"
          aria-label="Close"
        ></button>
        <h5 class="card-title">{{ stock.stock }}</h5>
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-4">
            <div class="short-div" style="padding: 5px;">
              <p class="card-text">Change Today : {{ stock.stockData.d }}</p>
            </div>
            <div class="short-div" style="padding: 5px;">
              <p class="card-text">Current Price : ${{ stock.stockData.c }}</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="short-div" style="padding: 5px;">
              <p class="card-text">Opening Price : ${{ stock.stockData.o }}</p>
            </div>
            <div class="short-div" style="padding: 5px;">
              <p class="card-text">High Price : ${{ stock.stockData.h }}</p>
            </div>
          </div>
          <div
            class="col-sm-4"
            style="padding: 10px;"
            *ngIf="stock.arrowSymbol == 'up'"
          >
            <h2 style="color: green;" [innerHTML]="stock.arrowUnicode"></h2>
          </div>
          <div
            class="col-sm-4"
            style="padding: 10px;"
            *ngIf="stock.arrowSymbol == 'down'"
          >
            <h2 style="color: red;" [innerHTML]="stock.arrowUnicode"></h2>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-4">
            <a href="#" class="btn btn-primary">See sentiment details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
