<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <p>Enter the symbol of a stock to track (i.e. - AAPL, TSLA, GOOGL)</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <input type="text" class="form-control" id="usr" />
        </div>
        <div class="col-sm-4">
          <button class="btn btn-primary">click me</button>
        </div>
      </div>
    </div>
  </body>
</html>
